In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
import os

In [2]:
df = pd.read_csv('A+&+B+shingles.csv')

In [3]:
df.head(5)

      A     B
0  0.44  0.14
1  0.61  0.15
2  0.47  0.31
3  0.30  0.16
4  0.15  0.37

In [4]:
df.shape

(36, 2)

In [5]:
df.describe().T

   count      mean       std   min     25%   50%     75%   max
A   36.0  0.316667  0.135731  0.13  0.2075  0.29  0.3925  0.72
B   31.0  0.273548  0.137296  0.10  0.1600  0.23  0.4000  0.58

In [6]:
t_statistic, p_value = ttest_1samp(df.A, 0.35)

print(t_statistic)
print(p_value/2)

-1.4735046253382782
0.07477633144907513

In [7]:
t_statistic, p_value = ttest_1samp(df.B.dropna(),0.35)
print(t_statistic)
print(p_value/2)

-3.1003313069986995
0.0020904774003191813

In [13]:
t_statistic , p_value = ttest_ind(df.A.head(31) , df.B.dropna())
print(t_statistic)
print(round(p_value,4))

0.985249977839441
0.3285