In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('D:\Training_latent_view\Interview - Problem Statement.xlsx')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [6]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 KB 5.8 MB/s eta 0:00:00
Note: you may need to restart the kernel to use updated packages.Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

In [7]:
df = pd.read_excel('D:\Training_latent_view\Interview - Problem Statement.xlsx')

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [8]:
df = pd.read_csv('Book1.csv')

In [9]:
df.head()

,#,id,quantity,name,item_type,price,vat_rate,product_category,organization_name,organization_country,...,issue_date,created_date,last_modified_date,tax_base_basic,tax_base_reduced,vat_rate_basic,vat_rate_reduced,fs_receipt_category,user,transaction
0,1,181,1.0,Donut čokoládový,K,0.33,20,pastry/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
1,2,182,1.0,Nátierka Natur,K,0.79,20,basic/spread,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
2,3,183,1.0,Koktejl. paradajky,K,2.09,10,fruits-veg/vegetable,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
3,4,184,1.0,Trubičky-vanilk.,K,0.89,20,snacks/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
4,5,185,3.0,"Rožok bez ""E"" - DA",K,0.07,10,pastry/basic,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1

In [10]:
df.head(10)

,#,id,quantity,name,item_type,price,vat_rate,product_category,organization_name,organization_country,...,issue_date,created_date,last_modified_date,tax_base_basic,tax_base_reduced,vat_rate_basic,vat_rate_reduced,fs_receipt_category,user,transaction
0,1,181,1.000,Donut čokoládový,K,0.330000,20,pastry/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
1,2,182,1.000,Nátierka Natur,K,0.790000,20,basic/spread,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
2,3,183,1.000,Koktejl. paradajky,K,2.090000,10,fruits-veg/vegetable,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
3,4,184,1.000,Trubičky-vanilk.,K,0.890000,20,snacks/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
4,5,185,3.000,"Rožok bez ""E"" - DA",K,0.070000,10,pastry/basic,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
5,6,186,1.000,Gouda Old Holland,K,2.990000,20,dairy/cheese,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:45:08,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
6,7,187,0.111,Red Wine Cheese,K,14.864865,20,dairy/cheese,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:45:39,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
7,8,188,0.130,Red Wine Cheese,K,14.923077,20,dairy/cheese,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:46:05,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
8,9,189,2.000,"Bravč.párky,200g",K,0.990000,20,meat/meat-products,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:46:17,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1
9,10,190,3.000,Taštička pizzová,K,0.390000,20,pastry/salty,"Lidl Slovenská republika, v.o.s.",Slovensko,...,30.01.2021 19:09:01,2021-04-21 19:44:26,2021-04-21 19:45:57,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1

In [11]:
df.dtypes

#                              int64
id                             int64
quantity                     float64
name                          object
item_type                     object
price                        float64
vat_rate                       int64
product_category              object
organization_name             object
organization_country          object
organization_municipality     object
organization_street           object
organization_category         object
unit_municipality             object
unit_name                    float64
unit_street                   object
issue_date                    object
created_date                  object
last_modified_date            object
tax_base_basic               float64
tax_base_reduced             float64
vat_rate_basic               float64
vat_rate_reduced             float64
fs_receipt_category           object
user                           int64
transaction                    int64
dtype: object

In [14]:
df['created_date']

0       2021-04-21 19:44:26
1       2021-04-21 19:44:26
2       2021-04-21 19:44:26
3       2021-04-21 19:44:26
4       2021-04-21 19:44:26
               ...
8456    2022-03-30 15:01:12
8457    2022-03-30 15:01:12
8458    2022-03-30 15:01:19
8459    2022-03-30 15:01:19
8460    2022-03-30 15:01:19
Name: created_date, Length: 8461, dtype: object

In [20]:
df['month'] = df['created_date'][5:7]

In [19]:
df.head()

,#,id,quantity,name,item_type,price,vat_rate,product_category,organization_name,organization_country,...,created_date,last_modified_date,tax_base_basic,tax_base_reduced,vat_rate_basic,vat_rate_reduced,fs_receipt_category,user,transaction,month
0,1,181,1.0,Donut čokoládový,K,0.33,20,pastry/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,NaN
1,2,182,1.0,Nátierka Natur,K,0.79,20,basic/spread,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,NaN
2,3,183,1.0,Koktejl. paradajky,K,2.09,10,fruits-veg/vegetable,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,NaN
3,4,184,1.0,Trubičky-vanilk.,K,0.89,20,snacks/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,NaN
4,5,185,3.0,"Rožok bez ""E"" - DA",K,0.07,10,pastry/basic,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,NaN

In [24]:
df['created_date']

0       2021-04-21 19:44:26
1       2021-04-21 19:44:26
2       2021-04-21 19:44:26
3       2021-04-21 19:44:26
4       2021-04-21 19:44:26
               ...
8456    2022-03-30 15:01:12
8457    2022-03-30 15:01:12
8458    2022-03-30 15:01:19
8459    2022-03-30 15:01:19
8460    2022-03-30 15:01:19
Name: created_date, Length: 8461, dtype: object

In [27]:
df1 = []
for x in df['created_date']:
    df1.append(x[5:7])
df1

['04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 ...]

In [28]:
df['month'] = df1

In [29]:
df.head()

,#,id,quantity,name,item_type,price,vat_rate,product_category,organization_name,organization_country,...,created_date,last_modified_date,tax_base_basic,tax_base_reduced,vat_rate_basic,vat_rate_reduced,fs_receipt_category,user,transaction,month
0,1,181,1.0,Donut čokoládový,K,0.33,20,pastry/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,04
1,2,182,1.0,Nátierka Natur,K,0.79,20,basic/spread,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,04
2,3,183,1.0,Koktejl. paradajky,K,2.09,10,fruits-veg/vegetable,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:26,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,04
3,4,184,1.0,Trubičky-vanilk.,K,0.89,20,snacks/sweet,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,04
4,5,185,3.0,"Rožok bez ""E"" - DA",K,0.07,10,pastry/basic,"Lidl Slovenská republika, v.o.s.",Slovensko,...,2021-04-21 19:44:26,2021-04-21 19:44:27,12.68,2.09,20.0,10.0,Stravovanie/Potraviny,1,1,04

In [31]:
df.isnull().sum()

#                               0
id                              0
quantity                        0
name                            0
item_type                       0
price                           0
vat_rate                        0
product_category                0
organization_name               0
organization_country            0
organization_municipality       0
organization_street             0
organization_category         122
unit_municipality             377
unit_name                    8461
unit_street                   377
issue_date                      0
created_date                    0
last_modified_date              0
tax_base_basic                 62
tax_base_reduced              311
vat_rate_basic                 62
vat_rate_reduced              311
fs_receipt_category           151
user                            0
transaction                     0
month                           0
dtype: int64

In [45]:
df_test = df.groupby('product_category').sum()
df_test.reset_index()

,product_category,#,id,quantity,price,vat_rate,unit_name,tax_base_basic,tax_base_reduced,vat_rate_basic,vat_rate_reduced,user,transaction
0,auto/care,76458,86636,46.000,29.570000,300,0.0,709.93,133.80,300.0,150.0,344,8879
1,auto/fuel,69966,80322,360.120,49.562802,260,0.0,508.73,0.00,260.0,130.0,224,8391
2,baby/fake-food,32026,37046,12.000,10.110000,140,0.0,218.85,33.23,140.0,60.0,130,3862
3,baby/food,675188,773788,132.000,176.810000,2120,0.0,2391.11,499.50,2160.0,1040.0,1605,81535
4,baby/supplies-hygiene,337445,385125,89.000,180.580000,1210,0.0,1484.62,322.18,1240.0,600.0,1384,40750
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,pastry/sweet,630634,721375,263.354,178.701034,2640,0.0,3275.23,1107.42,2720.0,1320.0,1426,74135
79,pets,233488,266641,70.418,445.016024,1040,0.0,1686.14,403.77,1100.0,550.0,1006,26911
80,seasonal,16366,18399,6.000,1.490000,80,0.0,70.24,5.24,80.0,40.0,215,1902
81,snacks/salty,495446,571106,267.842,180.382354,2420,0.0,3656.59,803.59,2440.0,1180.0,1097,58645
82,snacks/sweet,3486693,4001203,1312.405,1040.923785,15520,0.0,23235.20,5992.48,15660.0,7640.0,10311,409684

In [47]:
df['organization_name'].nunique()

188

In [48]:
df['organization_name'].unique()

array(['Lidl Slovenská republika, v.o.s.',
       'Kaufland Slovenská republika v.o.s.', 'BILLA s.r.o.',
       'TESCO STORES SR, a.s.', 'METRO Cash & Carry SR s. r. o.',
       'COOP Jednota Galanta, spotrebné družstvo',
       'PLAČEK PREMIUM, s. r. o.', 'OBI Slovakia s.r.o.',
       'OMV Slovensko, s.r.o.', 'RRR Plus s. r. o.',
       'BENU SK 43, s. r. o.', 'LAPLANT s.r.o.', 'Food express s.r.o.',
       'Emil Krajčík, s.r.o.', 'TERNO real estate s.r.o.',
       'Peter Vranovský FIPE', 'HORNBACH - Baumarkt SK spol. s r.o.',
       'DAREX s.r.o.', 'Povega s. r. o.', 'TCHIBO SLOVENSKO spol. s r.o.',
       'HAPPE s.r.o.', 'KARAKAM s. r. o.', 'BENU SK 21, s. r. o.',
       'GECO, s. r. o.', 'Dušan Haba - Rozličný tovar',
       'COOP Jednota Senica, spotrebné družstvo', 'Dr.Max 12 s.r.o.',
       'SLOVNAFT, a.s.', 'CUKRÁREŇ LABUŽNÍK, s. r. o.',
       'DALITRANS, s.r.o.', 'dm drogerie markt, s.r.o.',
       'Glance s. r. o.', 'Zoltán Szighardt', 'Dušan Dedinsky',
       'ADCOMART s.r.o.', 'RYB-PO BEDEČ, s. r. o.',
       'STAVEBNINY TIMA, s.r.o.',
       'COOP Jednota Dunajská Streda, spotrebné družstvo',
       'EUROPHARMA, s. r. o.', 'EMKAR market s.r.o.',
       'Bio - Slnečnica, s. r. o.', 'NITRAZDROJ, a.s.',
       'Daniel Bašo - Bezpecnostné uzamykacie systémy',
       'Jozef Badánk - BADAS', 'FAST PLUS, a.s.', 'Erika Fraitová',
       'Mild Cure Five, s.r.o.',
       'MEDICÍNSKE ZARIADENIE MLYNSKÁ DOLINA, s. r. o.',
       'Bioaspa, spol. s r.o.', 'ORAVA - STAV, s.r.o.',
       'CCC Slovakia, s. r. o.', 'Radovan Baránek',
       'MONSTERS cafe and bar s.r.o.', 'Oľga Bízková Central',
       'TOP- Farm, spol. s r.o.', 'ZABEZ, s.r.o.', 'Jan Holický',
       'ARW, s.r.o.', 'STÉNIA a.s.', 'MäsoP predajne, s.r.o.',
       'Karlova pekáreň s.r.o.', 'Jánošík - NEA, s.r.o.',
       'RPL, spol. s r.o.', 'STRONG LIFE s.r.o.', 'Mgr. Renáta Uličná',
       'Dušan Holý Expres Servis', 'Ján Rečník', 'C & A Mode s.r.o.',
       'Monika Polubňáková', 'Mikuláš Csatlós-SecondLife',
       'PRO. Laika spol. s r.o.', 'IKEA Bratislava, s.r.o.',
       'Teta drogérie SR s. r.o.', 'WAGON SLOVAKIA KOŠICE, a.s.',
       'GAS product & services a.s.', 'BAM - EKO a.s.',
       'MEDANTE Clinic, s.r.o.', 'Sunlight Pharmacy 01 s. r. o.',
       'Dráčik DIVI, s. r. o.', 'Minárik, spol. s r.o.',
       'McDonald´s Slovakia spol. s r.o.', 'IMUNITY s.r.o.',
       'Frisör Klier, s.r.o.', 'Martinus, s.r.o.', 'Mijamix, s.r.o.',
       'CALZEDONIA SLOVAK s. r. o.', 'HÁZY, s.r.o.',
       'Ing. Barbora Slabejová - Môj originál',
       'Martin Rolinec - LIGHTS ON!', 'Dr.Max 37 s.r.o.',
       'ROZKVET s.r.o.', 'Tatiana Karabínošová UNIs-Ka',
       'Slovenský potravinársky priemysel a.s.',
       'Tatiana Kršková-KnihArt', 'LPP Slovakia, s.r.o.',
       'COOP JEDNOTA REVÚCA, spotrebné družstvo', 'LUSIO s. r. o.',
       'Panta Rhei, s.r.o.', 'SPORTISIMO SK s. r. o.',
       'Pirex Slovakia s. r .o.', 'NAY a.s.', 'ALBI, s.r.o.',
       'Xiem Hoang Minh', 'KiK textil a Non-Food spol. s r. o.',
       'Zdravcentrum IS, s.r.o.', 'Textile House for EURO TRADE, s.r.o.',
       'VIKTORIA & A s.r.o.', 'RESTON s.r.o.',
       'Queensway Restaurants Slovakia, s.r.o.', 'Domäsko s.r.o.',
       'BENU SK 46, s.r.o.', 'P&D Invest s.r.o.', 'GALAO INVEST, s.r.o.',
       'COOP Jednota Žilina, spotrebné družstvo',
       'Štefan Kuchár - Rock faun', 'ANTALDENT s. r. o.', 'LEDart s.r.o.',
       'Peek & Cloppenburg s.r.o.', 'Vaprio.sk, s.r.o.',
       'Drogéria u Kovára s. r. o.', 'ALEX business s.r.o.',
       'Tea Trade Slovakia, s. r. o.', 'Pepco Slovakia s. r. o.',
       'EFLEK s. r. o.', 'ALLTOYS, spol. s r.o.', 'BENU SK 61, s.r.o.',
       'Pumpa SK s.r.o.', 'Lekáreň Centrum Stupava s. r. o.',
       'Lindex Slovakia s.r.o.', 'NEW YORKER Slovakia, s.r.o.',
       'Pro Solutions, s.r.o.', 'Quang Minh Vu, podnik zahraničnej osoby',
       'MAC2 s.r.o.', 'CENTRAL PARKING, spol. s r.o.',
       'Svitlana Matúšová - FIALKA', 'H & M Hennes & Mauritz SK s.r.o.',
       'Patty Ski Donovaly s. r. o.', 'JR – Spotrebný obchod s.r.o.',
       'GOIMPEX BRATISLAVA, a.s.', 'MEDIAPRESS Bratislava spol. s r.o.',
       'UNITAS Group, s. r. o.', 'GRANDE MGN s.r.o.',
       'Štatistické a evidenčné vydavateľstvo tlačív,a.s.ŠEVT a.s. /skrátená verzia obchodného mena/',
       'LEON BA, s. r. o.', 'NATLEK, s.r.o.', 'Eric SK s. r. o.',
       'fiftyfifty s. r. o.', 'FunArena Donovaly s.r.o.',
       'ONKODERMA, s. r. o.', 'KOTVIČKA s.r.o.', 'Omrvinka s. r. o.',
       'Inditex Slovakia, s. r. o.', 'ELEKTROSPED, a. s.',
       'FAnn-parfumérie, s.r.o.', 'MINIT SLOVAKIA, spol. s r.o.',
       'Xuan Duc Do -DHY', 'Delia potraviny, s.r.o.',
       'DENTAL X-RAY s. r. o.', 'Peter Liszkay', 'Ďumbierska, s. r. o.',
       'SUNLIGHT medical systems, s. r. o.', 'TRADE BAGS s.r.o.',
       'DEICHMANN-OBUV SK s.r.o.', 'KML, s.r.o.', 'Ing. Anton Súkeník',
       'COOP Jednota, Vranov nad Topľou, spotrebné družstvo',
       'Kabiko s. r. o.', 'Leberko s.r.o.',
       'Leder & Schuh SK spol. s r.o.', 'Potraviny MALINA, s. r. o.',
       'Fertucha, s. r. o.', 'Melange s. r. o.',
       'Emília Pulišová - Salaš Hron, Milan Puliš - právny nástupca',
       'Flowers Photo s. r. o.', 'Grapent a.s.', 'SCARIS s.r.o.',
       'Decathlon SK s. r. o.', 'Združenie G.D.S. Peter Ďurček',
       'Lyžiarsky klub Baba - Pezinok', '1. DENTÁLNE CENTRUM s. r. o.',
       'Gastro Eurovea s. r. o.', 'BAL TIP Slovakia, s.r.o.',
       'Pavel Filip - Rozličný tovar', 'Jankových a syn, s.r.o.',
       'MADICOR, s.r.o.', 'Tesco Franchise Stores SR, s. r. o.',
       'GM Electronic Slovakia, spol. s r.o.', 'Daniel Kapusta'],
      dtype=object)