# Villain ark

In [1]:
2+2

4

In [2]:
2=2

SyntaxError: cannot assign to literal (<ipython-input-2-f987af612b42>, line 1)

In [6]:
f = [1,2,3,4]
for i in f:
    print(i)

1
2
3
4

In [7]:
import numpy as np

In [ ]:
import df as

In [8]:
import pandas as pd

a=pd.Series([123,22,32,453,45,453,56])
b=pd.Series([234,4353,355,453,345,453,56])
df=pd.concat([a, b], axis=1)
df.columns=['First', 'Second']

In [9]:
a

0    123
1     22
2     32
3    453
4     45
5    453
6     56
dtype: int64

In [12]:
c = pd.concat([a,b],axis = 1)

In [13]:
c

     0     1
0  123   234
1   22  4353
2   32   355
3  453   453
4   45   345
5  453   453
6   56    56

In [15]:
c[0].astype(str).str[0:2]

0    12
1    22
2    32
3    45
4    45
5    45
6    56
Name: 0, dtype: object

In [16]:
tan = ['tan',1]

In [17]:
print(tan[0])

tan

In [18]:
tan[0] = 1
print(tan)

[1, 1]

In [19]:
type(tan[0])

int

In [21]:
tan[0] = 'Tan'
type(tan[0])

str

In [25]:
EOL

\ asdf

In [28]:
doit = lambda x,y : x*y
print(doit(5,4))

20

In [29]:
import numpy as np
data = [1,2,3]
vec = np.array(data)

In [30]:
vec.mean()

2.0

In [31]:
vec

array([1, 2, 3])

In [32]:
vec[1,1]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [33]:
vec[0,1]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [34]:
vec[1]

2